<!-- src/views/partials/footer.ejs -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2026 JamesThew. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>